.config-background { 
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  outline: none;
}

.config-container {
  position: absolute;
  z-index: 2;
  height: 80%;
  width: 50%;
  top: 10%;
  left: 25%;
  /* margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px; */
  background-color: rgb(69, 76, 78);
}

.load-library-container {
  background: rgba(199, 186, 171, 1);  
  color: #24354A;
  text-align: center;
  padding: 5px;  
  height: 30px;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

.load-library-container:active {
  background: rgba(199, 186, 171, 0.5);  
}