body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root {
  min-width: 700px;
  background-color: #24354A;  
  color: #C7BAAB;
}

.wrapper-0 {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  min-height: 400px;
  width: 100%;
  height: 500px;
  max-width: 1000px;
  padding-top: 25px;
}

.wrapper-1 {

}

.wrapper-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-left: 25px;
}

.wrapper-3 {

}