.seeker-container {
  position: relative;
  background: rgba(144, 144, 144,.1);
  width: 100%;
  top: -20px;
  /* height: 5px; */
  cursor: pointer;
  /* margin-top: 30px; */
  user-select: none; /* Apparently, there can be "invisible" highlighting which somehow makes the dragging thinks the mouse is still down */
}

.seeker-container:hover {
  background: rgba(144, 144, 144, .2);
  cursor: pointer;
}

.seeker-progress-bar {
  /* position: absolute; */
  height: 10px; 
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: red;
  user-select: none;
  /* transition: all 0.1s ease; */
  transform: scaleX(0);
  transform-origin: 0 0;
  pointer-events: none;
}

.seeker-time {
  
}