.window-control-container {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  height: 30px;
  align-items: center;  
}

.window-title-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 5px;
  padding-top: 5px;
  color: white; 
}

.window-buttons {
  -webkit-app-region: no-drag;
  display: flex;
  cursor: pointer;
  width: 25px;
  height: 30px;  
  justify-content: center;
  align-items: center;
}

.window-min {
}

.window-min rect {
  stroke: rgba(255, 255, 255, 0.5);
}

.window-min:hover rect {
  stroke: rgba(255, 255, 255, 1);
}

.window-max {
}

.window-max rect {
  stroke: rgba(255, 255, 255, 0.5);
}

.window-max:hover rect {
  stroke: rgba(255, 255, 255, 1);
}

.window-close {
}

.window-close line {
  stroke: rgba(255, 255, 255, 0.5);
}

.window-close:hover line  {
  stroke: rgba(255, 255, 255, 1);
}
