.youtube-container-background { 
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.youtube-container {
  position: fixed;
  z-index: 2;
  height: 100%;
  /* width: 100%; */
  margin-top: 80px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: rgba(0, 204, 255, 1);
}