.youtube-image-container {
  display: block;
  border: 1px solid black;
  height: 45%;
  user-select: none;
}

.youtube-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}